.venv
__pycache__
personal
requirements.txt
.testmondata
.coverage
.mypy_cache
.pytest_cache
htmlcov
.vscode
Dockerfile
.github
.testmondata
.git
minecraft-schematics-16
minecraft-schematics-raw
ml_data
X
y
htmlcov
.flake8
notebook.ipynb
requirements.txt
.pre-commit-config.yaml
__pycache__
