.venv
__pycache__
personal
requirements.txt
.testmondata
.coverage
.mypy_cache
.pytest_cache
data
minecraft-schematics
minecraft-schematics-raw
minecraft-schematics-16
minecraft-schematics-numpy-ids
minecraft-schematics-16-destroyed-*
mlruns
.vscode/launch.json
X
y
ml_data
.env
dummy_X
dummy_Y
model.pt
lightning_logs
*.hdf5
categories.json
schematics_data
output
datasets
htmlcov
output_2
